{% extends "base.html" %}

{% block title %}
Books
{% endblock %}

{% block content %}

<h2>📚 Add Book</h2>

<form method="POST">

    <label>Title</label>

    <br>

    <input
        type="text"
        name="title"
        required>

    <br><br>

    <label>Author</label>

    <br>

    <input
        type="text"
        name="author"
        required>

    <br><br>

    <label>Category</label>

    <br>

    <input
        type="text"
        name="category"
        required>

    <br><br>

    <label>Quantity</label>

    <br>

    <input
        type="number"
        name="quantity"
        required>

    <br><br>

    <button type="submit">
        Add Book
    </button>

</form>

<hr>

<h2>🔍 Search Books</h2>

<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="Search books..."
        value="{{ search if search else '' }}">

    <button type="submit">
        Search
    </button>

    <a href="/books">
        Clear
    </a>

</form>

<hr>

<a href="/export/books">
    <button>
        📄 Export Books CSV
    </button>
</a>

<hr>

<h2>📚 Library Collection</h2>

<table border="1" cellpadding="10">

    <tr>

        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Action</th>

    </tr>

    {% for book in books %}

    <tr>

        <td>{{ book[0] }}</td>

        <td>{{ book[1] }}</td>

        <td>{{ book[2] }}</td>

        <td>{{ book[3] }}</td>

        <td>

            {{ book[4] }}

            {% if book[4] <= 2 %}

                <br>
                <span style="color:red;font-weight:bold;">
                    ⚠ Low Stock
                </span>

            {% endif %}

        </td>

        <td>

            <a href="/edit-book/{{ book[0] }}">
                Edit
            </a>

            |
            <a href="/delete-book/{{ book[0] }}" onclick="return confirm('Delete this book?');"> Delete
              
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}